/documentation/fend.1

/icon/fend-icon.ico
/icon/resources.res

/target/

/telegram-bot/dist/
/telegram-bot/lambda_package.zip
/telegram-bot/node_modules/

/web/node_modules/
/web/public/documentation/
/web/public/fend-icon-128.png
/web/dist/

/windows-msix/build/
/windows-msix/fend-windows-x64.msix

/windows-wix/.wix/
/windows-wix/build/
/windows-wix/obj/
