[package]
name = "fend"
version.workspace = true
description.workspace = true
edition.workspace = true
repository.workspace = true
homepage.workspace = true
keywords.workspace = true
categories.workspace = true
license.workspace = true
readme = "../README.md"

[dependencies]
console = { version = "0.15.7", default-features = false }
ctrlc = "3.4.1"
fend-core.workspace = true
home = "0.5.5"
nanorand = { version = "0.7.0", default-features = false, features = ["std", "wyrand"] }
native-tls = { version = "0.2.11", optional = true }
rustyline = { version =  "12.0.0", default-features = false, features = ["with-file-history", "custom-bindings"] }
serde = { version = "1.0.190", default-features = false }
toml = { version = "0.8.2", default-features = false, features = ["parse"] }
ureq = { version = "2.8.0", default-features = false, optional = true }

[target.'cfg(windows)'.dependencies]
windows-sys = { version = "0.48.0", features = ["Win32_Foundation", "Win32_Storage_FileSystem"] }

[features]
native-tls = [ "dep:ureq", "dep:native-tls", "ureq/native-tls" ]
rustls = [ "dep:ureq", "ureq/tls" ]
default = [ "rustls" ]
