[package]
name = "fend-wasm"
version = "0.1.28"
authors = ["printfn <printfn@users.noreply.github.com>"]
edition = "2021"
license = "MIT"
repository = "https://github.com/printfn/fend"
description = "Arbitrary-precision unit-aware calculator"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
#default = ["console_error_panic_hook"]
default = []

[dependencies]
js-sys = "0.3.56"
wasm-bindgen = "0.2.78"

# std::time is not available on wasm, so this library provides a replacement
instant = { version = "0.1.12", features = [ "wasm-bindgen" ] }

fend-core = { path = "../core" }

[package.metadata.wasm-pack.profile.release]
wasm-opt = ["-Oz"]
