[package]
name = "fend-wasm"
version = "0.1.17"
authors = ["printfn <printfn@users.noreply.github.com>"]
edition = "2018"
license = "MIT"
repository = "https://github.com/printfn/fend"
description = "Arbitrary-precision unit-aware calculator"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
#default = ["console_error_panic_hook"]
default = []

[dependencies]
wasm-bindgen = "0.2.74"
js-sys = "0.3.51"

# The `console_error_panic_hook` crate provides better debugging of panics by
# logging them with `console.error`. This is great for development, but requires
# all the `std::fmt` and `std::panicking` infrastructure, so isn't great for
# code size when deploying.
#console_error_panic_hook = { version = "0.1.6", optional = true }

# `wee_alloc` is a tiny allocator for wasm that is only ~1K in code size
# compared to the default allocator's ~10K. It is slower than the default
# allocator, however.
#
# Unfortunately, `wee_alloc` requires nightly Rust when targeting wasm for now.
#wee_alloc = { version = "0.4.5", optional = true }

# std::time is not available on wasm, so this library provides a replacement
instant = { version = "0.1.9", features = [ "wasm-bindgen" ] }

fend-core = { path = "../core" }

[dev-dependencies]
wasm-bindgen-test = "0.3.24"

[package.metadata.wasm-pack.profile.release]
wasm-opt = ["-Oz"]
