* {
    background: inherit;
    color: inherit;
    border: none;
    font-weight: inherit;
    font-size: inherit;
    font-style: inherit;
    margin: 0;
    padding: 0;
}

body {
    font: 16px/150% monospace;
    background: hsl(30, 15%, 90%);
    color: hsl(30, 25%, 10%);
    margin: 0;
}

a {
    color: hsl(90, 70%, 30%);
}

b {
    color: hsl(30, 25%, 40%);
}

@media (prefers-color-scheme: dark) {
    a {
        color: hsl(90, 70%, 70%);
    }

    b {
        color: hsl(30, 25%, 70%);
    }

    body {
        background: hsl(30, 25%, 10%);
        color: hsl(30, 15%, 90%);
    }
}

main {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    max-width: 60ch;
    padding: 3ch;
    margin: auto;
}

main > * {
    grid-column: 1/3;
}

#output {
    grid-row: 2;
}
#output p {
    white-space: pre-wrap;
}

#input {
    display: grid;
    grid-template-columns: 2ch 1fr;
    grid-template-rows: auto auto;
    grid-row: 3;
}
#input p {
    grid-column: 1/3;
    grid-row: 2;
    margin-top: -2.5ch;
}
#input:before {
    content: ">";
}
#input #text {
    display: grid;
    grid-column: 2;
    grid-row: 1;
}
#input #text textarea {
    line-height: inherit;
    font-family: inherit;
    outline: none;
    overflow: hidden;
    resize: none;
}
#input #text:after {
    content: attr(data-replicated-value) " ";
    visibility: hidden;
}
#input #text textarea,
#input #text:after {
    grid-area: 1 / 1 / 2 / 2;
    white-space: pre-wrap;
}